<div class="footer-content">
    <p><strong>Social Media</strong></p>
    {% if site.editors.facebook %}
    <a href="{{site.editors.facebook}}" class="social facebook" target="_blank">Facebook</a>
    {% endif %}
    {% if site.editors.twitter %}
    <a href="https://twitter.com/{{ site.editors.twitter}}" class="social twitter" target="_blank">Twitter</a>
    {% endif %}
    {% if site.editors.instagram %}
    <a href="https://instagram.com/{{site.editors.instagram}}" class="social social instagram" target="_blank">Instagram</a>
    {% endif %}
    {% if site.editors.rss %}
    <a href="#" class="social rss" target="_blank">RSS</a>
    {% endif %}
    {% if site.editors.youtube %}
    <a href="{{ site.editors.youtube }}" class="social youtube" target="_blank">YouTube</a>
    {% endif %}
    {% if site.editors.linkedin %}
    <a href="https://linkedin.com/{{site.editors.linkedin}}" class="social linkedin" target="_blank">Linkedin</a>
    {% endif %}
    {% if site.editors.facebook %}
    <a href="https://github.com/{{site.editors.github}}" class="social github" target="_blank">Github</a>
    {% endif %}
</div>
