---
layout: page
permalink: /presentations/
title: "Presentations"
nav_title: "Subjects"
---

{% include group-by-array collection=site.presentations field='subject' %}

{% for subject in group_names %}
  {% assign posts = group_items[forloop.index0] %}

    <h3 id="{{ subject }}">{{ subject }}</h3>
    <hr>
      {% for post in posts %}
      <article class="news">
        <h4 class="news-title" style="font-size:150%;"><a href="{{ post.url }}">{{ post.title }}{% if post.award %} ({{ post.award }}){% endif %}</a></h4>
        <h6>{{ post.author }}, {{ post.major }}, {{ post.date | date: "%Y" }}</h6>
        <div class="news-description">{{ post.abstract | truncatewords: 75 }} <a href="{{ post.url }}">View the presentation.</a></div>
      </article>
      {% endfor %}
{% endfor %}
