---
layout: page
permalink: /subjects/
title: Subjects
nav_title: "Browse"
---

{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.documents %}
	{% assign ttags = post.subject | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}

{% for tag in tags %}

	<h3 id="{{ tag | slugify }}">{{ tag }}</h3>
  <hr>

    {% for post in site.presentations %}
    {% if post.subject contains tag %}

		<article class="news">
			<h4 class="news-title" style="font-size:150%;"><a href="{{ post.url }}">{{ post.title }}</a></h4>
			<h6>{{ post.author }}, {% if post.major %}{{ post.major }},{% endif %} {{ post.date | date: '%Y' }}</h6>
			<div class="news-description">{{ post.abstract | truncatewords: 75 }} <a href="{{ post.url }}">View the presentation.</a></div>
		</article>

	 {% endif %}
	 {% endfor %}

	 {% for post in site.posters %}
	 {% if post.subject contains tag %}

	 <article class="news">
		 <h4 class="news-title" style="font-size:150%;"><a href="{{ post.url }}">{{ post.title }}</a></h4>
		 <h6>{{ post.author }}, {{ post.major }}, {{ post.date | date: '%Y' }}</h6>
		 <div class="news-description">{{ post.abstract | truncatewords: 75 }} <a href="{{ post.url }}">View the poster.</a></div>
	 </article>

 		{% endif %}
 		{% endfor %}
{% endfor %}
