---
layout: page
permalink: /years/
title: Years
nav_title: "Browse"
---

{% assign research = site.documents | where:"research","true" %}
	{% assign postsByYear =
	    research | group_by_exp:"post", "post.date | date: '%Y'" %}
	{% for year in postsByYear %}
	  <h3 id="{{ year.name | slugify }}">{{ year.name }}</h3>
		<hr>
			{% for post in year.items %}
			<article class="news">
				<h4 class="news-title" style="font-weight:bold;"><a href="{{ post.url }}">{{ post.title }}</a></h4>
				<div class="news-date">{{ post.author }}, {{ post.major }}</div>
				<div class="news-description">{{ post.abstract | truncatewords: 50 }} <a href="{{ post.url }}">View the presentation.</a></div>
	    </article>
			{% endfor %}
	{% endfor %}
